@charset "UTF-8";

/* Mobile */

@media screen and (min-width: 375px) and (max-width: 760px){ 
   
    body {
        background-color: white;
    }

    /* HEADER */

    /* #mobile-header {
        display: flex;
        margin-left: 30px;
        margin-top: 20px;
      }

    #mobile-header p {
        font-family: 'Epilogue';
        color: #222;
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        padding-right: 228px;
    }

    #mobile-header img {
        padding-right: 5px;
    } */

    .main-header-content {
        display: flex;
        flex-direction: row;
        /* justify-content: center; */
        position: relative;   
        margin-left: 0px;
        margin-top: 20px;
        margin-bottom: 20px;
    
    }
    
    .main-header-content .logo-digital {
        width: 18px;
        height: 18px;
        padding-left: 74px;
        padding-top: 3px;
        
    }

    #menu {
        display: block;
        padding-left: 20px;
        
      }

    .logo {
        padding-right: 0px;
    }  

    .logo h1 {
        width: 125px;
        font-size: 19.852px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        letter-spacing: -0.199px;
        /* padding-right: 32px; */
    }

    .main-header-content input, .input-image {
        display: none;
        margin-right: 0px;
        
    }
    
    #search-img {
        display: block;
        padding-right: 0px;
        padding-left: 32px;
        /* position: absolute;
        left: 320px; */
    }

    .cadastro {
        display: none;
    }

    .kart-button {
        padding-left: 13px;
        position: relative;
    }

    .kart-button span {
        position: absolute;
        left: 25px
    }

    nav {
        display: none;
    }

    /* MAIN */

    .main-container {
        display: flex;
        flex-direction: column-reverse;
        justify-content: start;
        position: relative;
        height: 662px;
       
    }

    .content2 {
        width: 330px;
        height: 260px;
        margin-left: 5px;
        margin-right: 43px;
    }

    .main-container #jordan-desktop {display: none;}

    .main-container #jordan-mobile {
        display: block;
        margin-top: -10px;
        margin-left: 32px;
        margin-right: 45px;
    }

    #text {
        text-align: center;
        display: flex;
        flex-direction: column;
        padding-right: 0px;
        margin-left: 0px;
    }

    #text #ofertas {
        color: #C92071;
        text-align: center;
        font-family: 'Inter';
        font-size: 14px;
        font-style: normal;
        font-weight: 700;
        line-height: 22px; /* 157.143% */
        letter-spacing: 0.75px;
        padding-bottom: 10px;
    }

    #text #title-text {display: none;}

    #text #title-text-mobile {
        display: block;
        width: 297px;
        font-family: 'Inter';
        font-size: 40px;
        font-style: normal;
        font-weight: 800;
        line-height: 50px; 
        letter-spacing: 1px;
        margin: auto;
        padding: 0px;
        white-space: nowrap;
       
    }

    #text #lorem-text {
        display: none;
    }

    #text #lorem-text-mobile {
        display: block;
        width: 325px;
        font-family: 'Inter';
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: 22px;
        letter-spacing: 0.25px;
        padding-top: 20px;
        padding-bottom: 40px;
        margin-left: 25px;
        margin-right: 25px;
    }

    .button {
        width: 335px;
        margin: auto;
    }

    .main-container .content3 > #ornament-desktop {display: none;}

    .main-container .content3 > #ornament-mobile {
        display: block; 
        position: absolute;
        top: 20px;
        right: 5px;
    
    }

    .main-container #slide {
        width: 78px;
        height: 12px;
        position: absolute;
        top: 610px;
        left: 149px;
    }

        /* CONTAINER-2 */

    .container-2 {
        display: block;
    }

    .title, .destaque-2 {
        font-family: 'Inter';
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        text-align: left;
        margin-top: 40px;
        margin-bottom: -10px;
        margin-left: 20px;
    }

    .content-container-2 .content {
        margin-top: -10px;
    }

    .item p#off {
        margin-top: 20px;
        padding-bottom: 10px;
        height: 22px;
        font-size: 14px;
        font-style: normal;
        font-weight: 700;
        line-height: 26px;
    }

    .content-container-2 .content h3 {
        font-family: 'Inter';
        font-size: 28px;
        font-style: normal;
        margin-bottom: 0px;
        padding-bottom: 10px;
    }

    .container-2 .item {
        width: 338px;
        height: 212px;
        margin-left: 20px;
        margin-right: 20px;
    }

    .container-2 .item-1 {
        background-image: url(imagens/mobile/camisa-starwars.png);
        background-repeat: no-repeat;   
    }

    .container-2 .item-2 {
        background-image: url(imagens/mobile/tenis.png);
        background-repeat: no-repeat;   
    }

    .container-2 .item-3 {
        background-image: url(imagens/mobile/headphone.png);
        background-repeat: no-repeat;   
    }
        /* CONTAINER-3 */
    
    .container-3 {
        display: block;
        height: 200px;
        margin-top: -40px;
    }

    .container-3 #destaque-2 {
        text-align: start;
        margin-left: 20px;
        margin-top: 0px;

    }
    .container-3 .icon {
        display: none;
    }

    .container-3 iframe {
        display: block;
        width: 375px;
        
    }

    .container-4 {
        display: block ;
    }

    .content-container-4 {
        display: flex;
        justify-content:;
        flex-flow: row wrap;
               
    }

    #title-container-4 {
        margin-top: 50px;
    }

    #title-container-4 #portfolio {
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        margin-left: 20px;
        
    }

    #title-container-4 .ver-todos {
        font-family: 'Inter';
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        padding-left: 88px;
    }

    #title-container-4 .arrow {
        width: 24px;
        height: 24px;
    }
    .shoes {
        width: 163px;
        height: 179px;
        margin-right: 0px;
        margin-bottom: 133px;
        
    }

    .shoes img {
        width: 127px;
        height: 86px;
    }

    .shoes-1 {
        margin-right: 9px;
    }

    .legenda-container-4 {
        display: flex;
        justify-content: start;
        flex-flow: row wrap;
        position: absolute;
        columns: 2;
        top: 182px;
}
    

    .legenda-container-4 h4 {
        font-family: Inter;
        font-size: 12px;
        font-style: normal;
        font-weight: 700;
        padding-bottom: 2px;
        line-height: 0px;
    }

    .legenda-container-4 a {
        font-size: 10px;
        font-style: normal;
        font-weight: 500;

        
    }
    .legenda {
        display: flex;
        flex-direction: column;
        margin-left: 20px;
        padding-right: 27px;
        padding-bottom: 245px;
        columns: 2;
    }
    

    .legenda > p {
        font-size: 16px;  
        line-height: 10px; 
    }

    .linha-1 {
        padding-top: 12px;
    }

    .linha-2 {
        padding-top: 20px;
    }

    .linha-3 {
        padding-top: 20px;
    }

    .linha-4 {
        padding-top: 20px;
    }
    
    .container-5 {
        display: block;
    }

    .content-container-5 {
        display: flex;
        flex-direction: column;
        background: url(imagens/desktop/Ellipse\ 11.png) no-repeat 65px 55px;
        background-size: 70% 32%;
    }

    .content-container-5 img {
        width: 301px;
        height: 173px;
    }
    footer {
        display: none;
    }

}