@charset "UTF-8";

  @import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Inter:wght@800&display=swap');


:root {
    --cor01: #C92071;
    --cor02: #474747;
    --cor03: #F5F5F5;
    --cor04: #F6AA1C;
    --cor05: #1F1F1F;
    --font01: 'Inter', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    
}

body {
    background: #F9F8FE;
}

header > p, a {
    font-family: var(--font01);
    font-size: small;
}

.main-header-content {
    display: flex;
    align-items: center;   
    flex-wrap: wrap; 
    margin-left: 104px;
    margin-top: 42px;
    margin-bottom: 40px;
   
}

.logo-digital { 
    width: 253px;
    height: 44px;   
    margin-right: 27px;   
}

.input-image {
    flex-basis: 40%;
    margin-right: 48px;
    width: 559px;
}

.input-image input[type="search"] {

    padding-right: 30px; /* Espaço para a imagem */
    background-image: url(imagens/header/Search.png);
    margin-right: 5px;
    background-repeat: no-repeat;
    background-position: 98% center;
    background-size: 24px 24px; /* Tamanho da imagem */
}

.input-image > input {
    background-color: rgba(144, 144, 144, 0.194);
    border: 0.5px  #fff;
    border-radius: 8px;
    width: 100%;
    height: 60px;
    padding: 0px 24px;
          
}

#pesquisa::placeholder {
    color: darkgrey;
    padding-left: 15px;
}

.search-img {
    max-width: 100%;
    width: 24px;
    height: 24px;
    
}

.cadastro {
   color: darkgray;
  
}

input[type="button"] {
    color: var(--cor03);
    font-family: 'Inter';
    font-size: x-small;
    font-weight: 700;
    letter-spacing: 0.75px;
    background-color: var(--cor01);
    padding: 10px 25px;
    border: 1px solid #C92071;
    border-radius: 5px;
    margin-left: 30px;
    margin-right: 72px; 
    cursor: pointer; 
}
.kart-button {
    border: none;
    background-color: white;
    margin-right: 104px;
    position: relative;
}

.kart-button span {
    display: block;
    color: white;
    font-size: 10px;
    background-color: #C92071;
    width: 17px;
    height: 17px;
    border-radius: 50%;
    line-height: 17px;
    position: absolute;
    left: 14px;
    top: -7px;
}

nav ul {
    display: flex;   
    list-style: none;
    margin-left: 104px;
    margin-bottom: 32px;
}

nav li {
    padding-right: 32px;
    
}

nav a {
    color: #474747;
    text-decoration: none;  
}

nav a:hover {
    color: #C92071;
    text-decoration: underline;
}

 nav a:active {
    color: #C92071;
    font-weight: bold;
    text-decoration: underline;
 }

/* CONTAINER PRINCIPAL */

.main-container {
  /* background: lightblue url(imagens/main/Design\ sem\ nome.svg) no-repeat right center; */
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  background-color: #F5F5F5;
  height: 681px;
}

#text {
  margin-left: 100px;
  padding-right: 100px;
}

#text #ofertas {
  color: #F6AA1C;
  font-size: 16px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.75px;
}

#text h1 {
  color: var(--cor05);
  font-size: 64px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 800;
  line-height: 66px;
  letter-spacing: 1px;
  padding-top: 20px;
  padding-bottom: 20px;
}

#text #lorem-text {
  color: var(--cor05);
  font-size: 18px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  line-height: 34px;
  letter-spacing: 0.75px;
  padding-bottom: 40px;
}

.button {
  display: inline-block;
  color: var(--cor03);
  text-decoration: none;
  text-align: center;
  font-size: 16px;
  font-family: 'Inter';
  font-weight: 700;
  background-color: #C92071;
  border: 1px solid #C92071;
  border-radius: 8px;
  width: 220px;
  height: 48px;
  line-height: 48px;
  letter-spacing: 0.75px;
}

#jordan-image img {
    margin-right: 91px;
} 


.content3 img {
    position: absolute;
    right: 35px;
    top: 300px;
    flex-basis: 20%;
}

 /* DESTAQUES-1 */

 .container-2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 20px 55px 95px;
    
  }

  .title {   
    color: var(--cor02);
    /* Text Large Bold */
    font-size: 24px;
    font-family: 'Inter';
    font-weight: 700;
    line-height: 38px;
    letter-spacing: 0.75px;
    margin-left: 100px;
    margin-top: 38px;
    margin-bottom: 20px;
    
  }

  .item {
    border: 1px solid #D8E3F2;
    border-radius: 8px;
    background: #D8E3F2;
    width: 405px;
    height: 250px;
    flex-shrink: 0;
    margin-right: 12px;
    margin-bottom: 12px;
  }

  .item-1 {
    background: #D8E3F2 url(imagens/main/camisa-starwars.png) no-repeat right bottom;    
  }

  .item-2 {
    background: #D8E3F2 url(imagens/main/tenis.png) no-repeat right bottom;
  }

  .item-3 {
    background: #D8E3F2 url(imagens/main/headphone.png) no-repeat right bottom;
  }

  .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    font-family: 'Inter', sans-serif;
    padding-left: 25px;
    
    
  }

  .item p#off {
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    font-weight: 700;
    line-height: 22px;
    letter-spacing: 0.75px;
    display: inline-flex;
    border-radius: 29px;
    background: #E7FF86;
    border: 1px solid #E7FF86;
    padding: 5px 15px;
    margin-left: 25px;
    margin-top: 34px;
  }
  .content h3 {   
    width: 184px;
    font-size: 30px;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 1px;
    margin-top: 10px;
    margin-bottom: 20px;
  }
  .buy-button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    border: 1px solid white;
    border-radius: 8px;
    width: 153px;
    height: 48px;       
  }

  .buy-button a {
    color: #C92071;
    text-decoration: none;
    font-size: 16px;
    font-family: 'Inter';
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.75px;
  }

  /* container-3 */

#destaque-2 {
  margin: 0;
  text-align: center;
}

.container-3 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-wrap: wrap;
  position: relative;
  /* margin: 20px 360px; */

}

.icon {
  width: 104px;
  height: 104px;
  background-color: #fff;
  border: 1px solid #fff;
  border-radius: 50%;
  box-shadow: 0px 0px 15px rgba(46, 46, 46, 0.225);
  margin-top: 40px;
  margin-right: 48px;
}

.icon a {
  text-decoration: none;
  color: #474747;
  text-align: center;
  font-family: 'Inter';
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 22px;
  letter-spacing: 0.75px;
}

.item-4 {
  background: url(imagens/main/tshirt.svg) no-repeat center center;
  position: relative;

}

.item-4 > a {
  position: absolute;
  top: 110px;
  left: 15px;
} 

.item-5 {
  background: #fff url(imagens/main/pants.svg) no-repeat center center;
  position: relative;
}

.item-5 > a {
  position: absolute;
  top: 110px;
  left: 28px;
}

.item-6 {
  background: url(imagens/main/pants.svg) no-repeat center center;
  position: relative;
}

.item-6 > a {
  position: absolute;
  top: 110px;
  left: 30px;
}

.item-7 {
  background: url(imagens/main/headphones.svg) no-repeat center center;
  position: relative;
}

.item-7 > a {
  position: absolute;
  top: 110px;
  left: 9px;
}

.item-8 {
  background: url(imagens/main/sneakers.svg) no-repeat center center;
  position: relative;
}

.item-8 > a {
  position: absolute;
  top: 110px;
  left: 35px;
}

.subtitulo {
  padding-top: 10px;
  margin-left: 327px;
  margin-right: 396px;
}

.subtitulo a {
  color: var(--cor05);
  text-decoration: none;
  text-align: center;
  font-size: 14px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  line-height: 22px;
  letter-spacing: 0.75px;
  position: relative;
}


/* Container-4 */

#portfolio {
  margin-top: 123px;
}

.container-4 {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  position: relative;

}

.shoes {
  width: 292px;
  height: 321px;
  border: 1px solid #fff;
  border-radius: 4px;
  /* background: #fff url(imagens/main/tenis-produto.png) no-repeat 80% center; */
  background-color: #fff;
  margin-right: 24px;
  margin-bottom: 158px;
  position: relative;
}

.shoes > img {
  position: absolute;
  right: 30px;
}

.legenda-container-4 {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  position: absolute;
  top: 330px;
  
}
.legenda {
  display: flex;
  flex-direction: column;
  padding-right: 33px;
  padding-bottom: 403px;
  columns: 2;

}

.legenda a {
  text-decoration: none;
  color: var(--cor05);
  font-family: 'Inter';
  font-size: 24px;
  font-style: normal;
  line-height: 38px;
  letter-spacing: 0.75px;
  
}

.legenda h4 {
  color: #8f8f8f;
  font-family: 'Inter';
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.75px;
}

.legenda p {
  color: var(--cor05);
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 38px;
  letter-spacing: 0.75px;
}

.legenda span {
  color: #8f8f8f;
  font-weight: 100;
  text-decoration: line-through;
}